body {
  background-color: #e5e7eb;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.header {
  max-width: 1200px;
  width: 100%;
  height: 100px;
  padding: 20px 70px;
  box-sizing: border-box;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
  z-index: 100;
  display:flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  /* border-bottom: 1px solid darkgrey; */
}
.logo{
  width: 200px;
  height: 100%;
  box-sizing: border-box;
  background-image: url(../img/logo0.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}
.nav {
  width: 430px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
}
.nav div a  {
  color: #000000;
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Libre Franklin', sans-serif;
}

/* 햄버거 버튼 */
.ham_btn {
  width: 30px;
  height: 100%;
  padding-top: 20px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  font-weight: 900;
}
.line {
  width: 100%;
  height: 1px;
  margin-bottom: 10px;
  background: black;
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Libre Franklin', sans-serif;
} 

/* 풋터 */
.footer {
width: 100%;
height: 10vw;
}
