body {
  background-color: #e5e7eb;
  padding: 0;
  margin: 0;
}
.wrap {
  margin: 0;
  padding: 0;
}
.content_area {
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* top버튼 */
  .top_btn {
    width: 30px;
    height: 30px;
    background: transparent;
    box-shadow: 0px -1px 16px -1px azure;
    color: #fff8;
    position: fixed;
    bottom: 50px; right: 50px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    border-radius: 15px;
    display: none;
  }


/* 헤더 */
.header {
  width: 100%;
  height: 100px;
  max-width: 1200px;
  padding: 0 50px;
  box-sizing: border-box;
  position: fixed;
  display:flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background: transparent;
  box-sizing: border-box;
}

.logo{
  width: 200px;
  height: 100%;
  box-sizing: border-box;
  background-image: url(../img/logo0.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}
.nav {
  width: 430px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}
.nav div  {
  display: inline;
  color: black;
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Libre Franklin', sans-serif;
}

/* 햄버거 버튼 */
.ham_btn_wrapper {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  padding: 35px;
}
.ham_btn {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  cursor: pointer;
}
.line {
  width: 100%;
  height: 1px;
  background: black;
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Libre Franklin', sans-serif;
}

/* 풋터 */
.footer {

}
