body {
  background-color: #e5e7eb;
  padding: 0;
  margin: 0;
}
.wrap {
  margin: 0;
  padding: 0;
}
.content_area {
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* top버튼 */


/* 헤더 */
.header {
  width: 100%;
  height: 100px;
  max-width: 1200px;
  padding: 0 50px;
  box-sizing: border-box;
  position: fixed;
  display:flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background: transparent;
  box-sizing: border-box;
}

.logo{
  width: 200px;
  height: 100%;
  box-sizing: border-box;
  background-image: url(../img/logo0.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}
.nav {
  width: 430px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}
.nav div {
  display: inline;
  color: black;
}

/* 햄버거 버튼 */
.ham_btn_wrapper {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  padding: 35px;
}
.ham_btn {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  cursor: pointer;
}
.line {
  width: 100%;
  height: 1px;
  background: black;
}

/* 풋터 */
.footer {

}
