@font-face {
  font-family: 'Gmarket SansL';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gmarket SansM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gmarket SansB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

.sld1{
  background-image: url(../img/banner4-1.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.sld2 {
  background-image: url(../img/05123449fd05b.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.sld3 {
  background-image: url(../img/banner1.png);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}
.sld4 {
  background-image: url(../img/314131300_1189006215374568_6978199465067658399_n.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.b_link1 {
  position: absolute;
  bottom: 11vw;
  left: 34vw;
  width: 110px;
  height: 50px;
  border-radius: 5%;
  background-color: #ffff;
  opacity: 0.8;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  font-family: 'Libre Franklin', sans-serif;
  letter-spacing: 1px;
  transition:all 1s;
  transform: translate(5px 0);
}

.b_link1:hover {
  background-color: #9b9b9b;
  color: #fff;
}

.sld1 p {
  position: absolute;
  bottom: 12vw;
  left: 6vw;
  color: #efeded;
  font-size: 3vw;
  letter-spacing: 1px;
  font-family: 'Gmarket SansB', sans-serif;
}
.sld1 p:nth-child(2) {
  bottom: 10vw;
  left: 7vw;
  font-family: 'Gmarket SansL', sans-serif;
  font-size: 2vw;
}

.sld2 p{
  position: absolute;
  color: #000000;
  font-family: 'Gmarket SansB', sans-serif;
  font-size: 3vw;
  letter-spacing: 1px;
  bottom: 28vw;
  left: 158vw;
}
.sld2 p:nth-child(2), .sld2 p:nth-child(3), .sld2 p:nth-child(4) {
  font-family: 'Gmarket SansL', sans-serif;
  font-weight: lighter;
  bottom: 25vw;
  left: 159vw;
  font-size: 2vw;
}
.sld2 p:nth-child(3) {
  bottom: 22vw;
}
.sld2 p:nth-child(4) {
  bottom: 19vw;
}
.sld2 div {
  left: 181vw;
  bottom: 14vw;
}

.sld3 p {
  position: absolute;
  left: 204vw;
  bottom: 25vw;
  letter-spacing: 1px;
  color: #fff;
  font-family: 'Gmarket SansB', sans-serif;
  font-size: 3vw;
}
.sld3 p:nth-child(2), .sld3 p:nth-child(3) {
  font-family: 'Gmarket SansL', sans-serif;
  font-size: 2vw;
  bottom: 22vw;
}
.sld3 p:nth-child(3) {
  bottom: 19vw;
}
.sld3 div {
  left: 204vw;
  bottom: 14vw;
}

.sld4 p {
  position: absolute;
  left: 303vw;
  bottom: 22vw;
  color: #ffff;
  font-family: 'Gmarket SansL', sans-serif;
  font-size: 3vw;
  letter-spacing: 1px;
}
.sld4 p:nth-child(1){
  font-family: 'Yeseva One', cursive;
  font-weight: 900;
}
.sld4 p:nth-child(2), .sld4 p:nth-child(3), .sld4 p:nth-child(4){
  font-family: 'Gmarket SansL', sans-serif;
  font-size: 2vw;
  left: 304vw;
  bottom: 16vw;
}
.sld4 p:nth-child(2) {
  font-family: 'Yeseva One', cursive;
  bottom: 20vw;
  left: 324vw;
}
.sld4 p:nth-child(4) {
  bottom: 13vw;
}
.sld4 div {
  left: 338vw;
  bottom: 8vw;
}

.sec2 {
  background-image: url(../img/ceefd1597e5fc.jpg);
  background-position: bottom;
  background-size: cover;
  background-position: center;
}
.opa_black{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.s2_txt {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Unna', serif;
  font-weight: 900;
  color: #ffff;
  font-size: 7vw;
  margin: 0;
  z-index: 700;
  padding: 0;
  line-height: 100%;
  text-align: center;
}
.s2_txt p:nth-child(1){
  margin: 0;
  padding: 0;
}
.s2_txt p:nth-child(2) {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 18px
  ;
}
.s2_txt:hover p{
  color: #142f5f;
  transition: all 1s;
}

.swiper{
  width: 100%;
  height: 100%;
}
.sec3{
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
}
.swiper-slide{
  width: 100%;
  flex-shrink: 1;
}
.swiper-pagination{

}
.swiper-pagination-bullet {
  background-color: #142f5f;
  width: 12px;
  height: 12px;
}

.megaz1{
  background-image: url(../img/288874846_2809120596050785_5313603288664687065_n.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.megaz2{
  background-image: url(../img/264887423_405780337950692_3909289030179605918_n.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.megaz3{
  background-image: url(../img/293462548_1009590026408241_6100688302313113534_n.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.megaz4{
  background-image: url(../img/327277694_493701552837735_2612537996507002737_n.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.megaz5{
  background-image: url(../img/326553785_855823975712012_4393862458205652623_n.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.megaz6{
  background-image: url(../img/141387346_198019508723746_5740677952447949317_n.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.megaz7{
  background-image: url(../img/149611945_175953490657827_3529920725377026245_n.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.megaz8{
  background-image: url(../img/273548265_122653810296517_1971324416324272397_n.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}